.mainpage {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.5) 100%), url("cover1.jpg");
    width: auto;
    position: relative;
    background-position: bottom;
    background-size: cover;
    font-family: 'Arima', cursive;
    div {
        padding: 50px;
        text-align: center;
        font-size: 25px;
        font-style: italic;
        .head {
            display: inline-flex;
            gap: 5rem;
            margin-left: auto;
            h1 {
                color: rgb(160, 181, 238);
                i {
                    color: #8a8e6b;
                }
            }
            .arrow {
                margin-top: 7px;
                color: rgb(160, 181, 238);
                &:hover {
                    color: #c6d459;
                }
            }
            /*ul {
                display: flex;
                gap: 2rem;
                list-style: none;
                text-align: center;        
                li {
                    margin: 5px;
                    text-decoration: none;
                    text-align: right;
                    a {
                        text-decoration: none;
                        color: #8a8e6b;
                        text-align: right;
                        transition: 500ms;
                        &:hover {
                            color: #fff;
                            font-style: normal;
                        }
    
                    }
                }
            }*/
        }
        
    }
    .hero-section {
        button {
            margin-top: 150px;
            margin-left: 2  px;
            margin-right: 2px;
            border: none;
            background-color: transparent;
            color: white;
            font-size: 12px;
            transition: 500ms;
            &:hover {
                color: #6161D5;
                transform: scale(1.2);
            }
        }
        h1 {
            color: #fff;
            font-family: 'Arima', cursive;
            margin-bottom: 75px;
            font-size: 45px;
        }
        h4 {
            font-size: 35px;
            color: white;
            font-style: italic;
            font-family: 'Arima', cursive;
            span {
                font-style: normal;
            }
        }
    }

}