@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mingzat&display=swap");
.mainpage {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0.5))), url("cover1.jpg");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.5) 100%), url("cover1.jpg");
  width: auto;
  position: relative;
  background-position: bottom;
  background-size: cover;
  font-family: 'Arima', cursive;
}

.mainpage div {
  padding: 50px;
  text-align: center;
  font-size: 25px;
  font-style: italic;
}

.mainpage div .head {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5rem;
  margin-left: auto;
  /*ul {
                display: flex;
                gap: 2rem;
                list-style: none;
                text-align: center;        
                li {
                    margin: 5px;
                    text-decoration: none;
                    text-align: right;
                    a {
                        text-decoration: none;
                        color: #8a8e6b;
                        text-align: right;
                        transition: 500ms;
                        &:hover {
                            color: #fff;
                            font-style: normal;
                        }
    
                    }
                }
            }*/
}

.mainpage div .head h1 {
  color: #a0b5ee;
}

.mainpage div .head h1 i {
  color: #8a8e6b;
}

.mainpage div .head .arrow {
  margin-top: 7px;
  color: #a0b5ee;
}

.mainpage div .head .arrow:hover {
  color: #c6d459;
}

.mainpage .hero-section button {
  margin-top: 150px;
  margin-left: 2  px;
  margin-right: 2px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 12px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.mainpage .hero-section button:hover {
  color: #6161D5;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mainpage .hero-section h1 {
  color: #fff;
  font-family: 'Arima', cursive;
  margin-bottom: 75px;
  font-size: 45px;
}

.mainpage .hero-section h4 {
  font-size: 35px;
  color: white;
  font-style: italic;
  font-family: 'Arima', cursive;
}

.mainpage .hero-section h4 span {
  font-style: normal;
}

footer button {
  padding: 3px 20px 3px 20px;
  border: 1px solid #c06363;
  background-color: transparent;
  color: white;
  font-family: 'Arima', cursive;
  font-size: 14px;
  background-color: #c06363;
  -webkit-transition: 500ms;
  transition: 500ms;
}

footer button:hover {
  background-color: transparent;
  color: #c06363;
}

footer input {
  padding-bottom: 2.8px;
  font-size: 15px;
}

footer div {
  text-align: center;
}

footer div a {
  font-size: 18px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

footer div a:hover {
  color: #6161D5;
}

footer p {
  font-size: 10px;
  font-family: georgia,sans-serif;
  color: #ededec;
  text-align: center;
}

footer hr {
  height: 3px;
  color: #575757;
}

footer .subsCha {
  font-size: 15px;
  font-family: georgia,sans-serif;
  color: #ededec;
  text-align: center;
}

.portfolio {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0.5))), url("cover3.jpg");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 100%, rgba(255, 255, 255, 0.5) 100%), url("cover3.jpg");
  width: auto;
  height: auto;
  background-position: center;
  position: relative;
  background-size: cover;
  font-family: 'Arima', cursive;
  /*.responsive_img {
        max-width: 100%;
        width: 500px;
        
        
    }*/
}

.portfolio .portfolio-pre_menu ul li {
  list-style: none;
  display: inline-block;
}

.portfolio .portfolio-pre_menu ul .portfolio_menu {
  margin-top: 5rem;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 15px black;
          box-shadow: 0px 8px 15px black;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  color: white;
  font-size: 25px;
  font-style: italic;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.portfolio .portfolio-pre_menu ul .portfolio_menu:hover {
  color: #6161D5;
  border: 1px solid #6161D5;
}

.portfolio .portfolio-pre_menu .portfolio-block-images .flex {
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.portfolio .portfolio-pre_menu .portfolio-block-images .flex .blocks {
  -webkit-transition: 300ms;
  transition: 300ms;
  border: none;
  background-color: transparent;
}

.portfolio .portfolio-pre_menu .portfolio-block-images .flex .blocks img {
  border-radius: 15px;
}

@media only screen and (max-width: 1280px) {
  .portfolio .portfolio-pre_menu .portfolio-block-images .flex .blocks img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .portfolio .portfolio-pre_menu .portfolio-block-images .flex .blocks img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 728px) {
  .portfolio .portfolio-pre_menu .portfolio-block-images .flex .blocks img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

.portfolio .portfolio-pre_menu .portfolio-block-images .flex .blocks:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

* {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */